mixin checkbox(obj)
	label.ui-checkbox(class=obj?obj.className:null)
		input.visuallyhidden.ui-checkbox__input(type="checkbox")&attributes(attributes)
		i.ui-checkbox__icon
		if block
			span.ui-checkbox__text
				block

mixin radiobox(obj)
	label.ui-radiobox(class=obj?obj.className:null)
		input.visuallyhidden.ui-radiobox__input(type="radio")&attributes(attributes)
		i.ui-radiobox__icon
		if block
			span.ui-radiobox__text
				block