mixin demo-menu
	div(block="demo-menu")
		div(elem="overlay")
		div(elem="nav")

			ul(elem="list" mod="custom-scroll")

				li(elem="item" data-for)
					a(elem="link" href="{{ href }}") {{ title }}
						i(elem="thumb-icon" data-thumb="{{ thumb }}") ?

			div(elem="thumb-wrap")
				img(src=img alt="")

			div(elem="trigger")
				a(elem="trigger-btn" href="#")
					i(elem="trigger-icon")