.demo-menu {
	position: absolute;
	z-index: 99999999;
	font-size: 16px;
	line-height: 1.5;
  	font-family: $font-family-base;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	&__overlay{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba($color-main-2, 0.9);

		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;
		.demo-menu--active &{
			visibility: visible;
			opacity: 1;
		}
	}
	&__nav{
		position: fixed;
		top: 10px;
		bottom: 10px;
		left: -300px;

		display: flex;
		flex-direction: column;
		justify-content: center;


		width: 300px;
		padding: 20px 50px 20px 10px;

		background-color: $color-main-1;
		border-radius: 0 8px 8px 0;
		transition: all 0.3s ease;

		@include media-breakpoint-up(md) {
			top: 15px;
			bottom: 15px;
		}

		.demo-menu--active &{
			left: 0;
			box-shadow: 0 0 20px #1d1d1d;
		}
	}

	&__list{
		counter-reset: demoList;
		opacity: 0;
		padding: 0;
		margin: 0;
		transform: translateX(-40px);
		transition: all 0.2s ease 0.1s;
		max-height: 100%;
		overflow-y: auto;
		&--custom-scroll{
			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			}

			&::-webkit-scrollbar-thumb {
				background-color: darken($color-main-2, 4%);
				// outline: 1px solid slategrey;
				border-radius: 8px;
			}
		}
		.demo-menu--active &{
			opacity: 1;
			transform: translateX(0);
		}
	}

	&__item{
		list-style: none;
		margin-top: 5px;
		&:first-child{
			margin-top: 0;
		}
	}

	&__link{
		position: relative;
		display: flex;
		padding: 4px 40px 8px 8px;
		background-color: $color-main-2;
		border-radius: 8px;
		color: #fff;
		transition: all 0.2s;
		text-decoration: none;

		&:before{
			counter-increment: demoList;
			content: counter(demoList) ". ";
			flex-shrink: 0;
			margin-right: 5px;
			color: darken(#fff, 50%);
		}
		&:hover{
			color: #fff;
			background-color: darken($color-main-2, 4%);
			text-decoration: none;
		}
	}

	&__link-inner {

	}

	&__link-addr {
		display: block;
		font-size: 10px;
		letter-spacing: 0.1em;
		color: darken(#fff, 50%);
		font-weight: 500;
		line-height: 1;
		transition: color .2s;

		.demo-menu__link:hover &{
			color: $color-accent;
		}
	}

	&__thumb-icon{
		display: none;

		@include media-breakpoint-up(md) {
			position: absolute;
			top: em(8, 14);
			right: 8px;
			width: 20px;
			height: 20px;
			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;

			background-color: $color-main-1;
			color: $color-blue;

			font-style: normal;
		}
	}

	&__thumb-wrap{
		position: absolute;
		left: 100%;
		margin-left: 50px;
		top: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		width: 50vw;

		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;

		img{
			display: block;
			max-width: 100%;
			box-shadow: 0 0 20px #1d1d1d;
		}
		&--active{
			@include media-breakpoint-up(md) {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__trigger{
		position: absolute;
		bottom: 0;
		left: 100%;

		width: 50px;
		height: 40px;

		border-radius: 0 8px 8px 0;
		opacity: 0.2;

		box-shadow: 0 0 5px #fff;

		transition: all 0.3s ease;
		cursor: pointer;
		animation: humbleTriggerMobile 0.4s ease-in;

		@include media-breakpoint-up(md) {
			top: 50%;
			height: 100px;
			margin-left: -40px;
			margin-top: -50px;
			opacity: 0.3;
			background-color: $color-main-1;
			animation: humbleTriggerTablet 0.6s ease-in;
		}

		&--active,
		&:hover{
			@include media-breakpoint-up(md) {
				margin-left: 0;
				opacity: 1;
				box-shadow: 0 0 20px #1d1d1d;
			}
		}

		.demo-menu--active &{
			opacity: 1;
			box-shadow: none;
			margin-left: -45px;

			@include media-breakpoint-up(md) {
				margin-left: -50px;
			}
		}
	}

	&__trigger-btn{
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -14px;
		left: 10px;
		width: 28px;
		height: 28px;

		border-radius: 50%;
		background-color: $color-main-2;

		transition: all 0.3s ease;
		.demo-menu__trigger:hover &{
			background-color: darken($color-main-2, 4%);
		}
	}
	%trigger-lines {
		background: $color-blue;
	}
	&__trigger-icon{
		@extend %trigger-lines;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 15%;
		width: 70%;
		height: 2px;
		text-indent: 200%;
		transition: opacity 0.25s;
		&:before,
		&:after {
			@extend %trigger-lines;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			pointer-events: none;
			transition: transform 0.25s;
			transform-origin: 50% 50%;
		}
		&:before{
			transform: translate3d(0, -6px, 0) scale3d(0.8, 1, 1);
		}
		&:after{
			transform: translate3d(0, 4px, 0) scale3d(0.8, 1, 1);
		}
		.demo-menu--active &{
			background-color: rgba(#fff, 0);
			&:before{
				transform: rotate3d(0, 0, 1, 45deg);
			}
			&:after{
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}

	}
}