#{$prefix}search {
	display: flex;
	flex-direction: column;

	&__box {
		position: relative;
	}

	&__label {
		position: absolute;
		left: 0;
		top: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 1em;
		height: 36px;
		margin: 0;
		transition: 0.2s;

		#{$prefix}search__input:focus ~ & {
			color: $color-accent;
		}
	}

	&__input {
		display: block;
		background: none;
		border: none;
		padding: 0 0 0 1.5em;
		height: 36px;
		width: 100%;
		border: 2px solid rgba($color-main-2, 0);
		border-width: 0 0 2px;
		color: #fff;
		transition: 0.2s;
		border-radius: 8px;

		@include placeholderStyle {
			color: #fff;
			opacity: 0.3;
		}

		&:focus {
			outline: none;
			border-color: $color-accent;
		}

	}

	&__message {
		margin: 20px 0;
		color: #fff;
		order: -1;

		@include media-breakpoint-up(md) {
			order: 0;
		}

		&--hidden {
			display: none;
		}
	}
}