- var href = 'javascript:void(0)';
- var img = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
- var DATE = new Date();
- var time = DATE.getTime();
block vars
include components/_index
doctype html
html
	head
		meta(charset='utf-8')
		block title
			title Dev site
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		//- styles
		//- link(rel="stylesheet", href="styles/demo-menu.css?"+time)
	body
		block content
		script(src="scripts/demo-menu.js?"+time data-demo-data="demo/data.json")

		//- include components/_demo-menu

